<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">

  <script src="https://code.jquery.com/jquery-3.5.0.js"></script>

  <!-- Bootstrap Table -->
  <link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.21.2/dist/bootstrap-table.min.css">
  <script src="https://unpkg.com/bootstrap-table@1.21.2/dist/bootstrap-table.min.js"></script>

  <!-- Bootstrap-Icon -->
  <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css"> -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">


  <script async src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>

  <!-- our own css -->
  <link rel="stylesheet" href="/static/css/base.css">

  <!-- fontawesome -->
  <script async src="https://kit.fontawesome.com/87f04edde9.js" crossorigin="anonymous"></script>

  <!-- font -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Sarabun&display=swap" rel="stylesheet">

  <!-- Include SweetAlert2 -->
  <script async src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>



  <script async src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>

  <!-- toggleNavbar -->
  <!-- Do not change the version of this (4.0.0) and dont move it to the top, it will make navbar dropdown not working -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>

  <link rel="icon" href="/static/img/cs_cmu.png">

  <title>CS Gen-Docs</title>

</head>

<body>
  <nav class="navbar navbar-expand-md">
    <div class="container">
      <a href="{{ url_for('home') }}" class="navbar-brand">
        <img class="navbar-img" src="/static/img/cs_cmu_1.png" alt="Computer Science CMU">
        <span class="navbar-text">Computer Science CMU</span>
      </a>

      <!-- <button class="navbar-toggler" type="button" onclick="toggleNavbar()">
        <span class="navbar-toggler-icon"></span>
      </button> -->

      <!-- <div class="collapse navbar-collapse" id="navbarCollapse"> -->
      <!-- <ul class="navbar-nav ml-md-auto"> -->
      <!-- Use ml-md-auto to push the dropdown to the right -->
      <!-- <li class="nav-item"> -->
      <div class="dropdown">
        <button class="dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="bi bi-person-circle"></i> <span>{{ user.name }}</span>
        </button>
        <div class="dropdown-menu dropdown-menu-right">
          {% if user.role == true %}
          <a class="dropdown-item" href="{{ url_for('access') }}" id="access"><i
              class="fa-solid fa-gear"></i>ตั้งค่าสิทธิ์การเข้าถึง</a>
          {% endif %}
          <a class="dropdown-item" href="{{ url_for('logout') }}" id="logout"><i
              class="fa-solid fa-right-from-bracket"></i>ออกจากระบบ</a>
        </div>
      </div>
      <!-- </li> -->
      <!-- </ul> -->
      <!-- </div> -->
    </div>
  </nav>

  <div class="container" id="main_screen">

    {% block content %}
    {% endblock %}
  </div>

  <footer class="text-center">

    <div class="container py-md-2">
      <ul>
        <li><a style="font-size: 12px;font-weight:bold;">Computer Science CMU</a></li><br>
        <li><a>ภาควิชาวิทยาการคอมพิวเตอร์
            คณะวิทยาศาสตร์ มหาวิทยาลัยเชียงใหม่</a></li><br>
        <li><a>
            239 ถ. ห้วยแก้ว ต.สุเทพ อ. เมือง จ. เชียงใหม่ 50200
            โทรศัพท์ : 0-5394-3412-16 , 063-080-7969
            ธุรการ : กด 0 หรือ 101
            หลักสูตรปริญญาตรี : กด 103
            หลักสูตรปริญญาโท-เอก : กด 105</a></li>
      </ul>
    </div>
  </footer>

  <script src="/static/js/base.js"></script>
  <!-- <script src="/static/js/sweetalert.js"></script> -->
  <script>


    //this function use to open pdf file on clip icons as admin
    function open_pdf(ref_num, ref_year, row) {
      console.log("will open pdf soon")
      event.preventDefault();
      var url = "/preview_pdf"
      var formData = new FormData();
      formData.append('ref_num', ref_num)
      formData.append('ref_year', ref_year)
      $.ajax({
        type: 'POST',
        url: url,
        data: formData,
        contentType: false,
        processData: false,
        success: function (response) {
          var resData = response.doc_file;
          pdf_data = atob(resData);
          var fileName = response.doc_name;
          var byteNumbers = new Array(pdf_data.length);
          for (var i = 0; i < pdf_data.length; i++) {
            byteNumbers[i] = pdf_data.charCodeAt(i);
          }
          openPDF(byteNumbers, fileName);
        },
        error: function (error) {
          Swal.fire({
            titleText: 'ไม่พบไฟล์เอกสารคำสั่ง',
            text: 'ต้องการเพิ่มไฟล์หรือไม่ ?',
            icon: 'question',
            showCancelButton: true,
            confirmButtonColor: '#3EBC2A',
            cancelButtonColor: '#d33',
            confirmButtonText: 'ต้องการ',
            cancelButtonText: 'ยกเลิก',

          }).then((result) => {
            if (result.isConfirmed) {
              prePopulateForm(row);
              $("#modal-form").modal();
            }
          });
          // Apply custom styles to the SweetAlert Text
          $('.swal2-container .swal2-html-container').css({
            'font-size': '20px',
            'overflow': 'visible'
          });
        }

      });
    }


    //this function use to open pdf file on clip icons as normal user
    function open_pdf_user(ref_num, ref_year, row) {
      console.log("will open pdf soon")
      event.preventDefault();
      var url = "/preview_pdf"
      var formData = new FormData();
      formData.append('ref_num', ref_num)
      formData.append('ref_year', ref_year)
      $.ajax({
        type: 'POST',
        url: url,
        data: formData,
        contentType: false,
        processData: false,
        success: function (response) {
          var resData = response.doc_file;
          pdf_data = atob(resData);
          var fileName = response.doc_name;
          var byteNumbers = new Array(pdf_data.length);
          for (var i = 0; i < pdf_data.length; i++) {
            byteNumbers[i] = pdf_data.charCodeAt(i);
          }
          openPDF(byteNumbers, fileName);
        },
        error: function (error) {
          Swal.fire({
            title: 'ไม่พบไฟล์เอกสารคำสั่ง',
            text: 'ขณะนี้ยังไม่มีการเพิ่มเอกสารคำสั่ง',
            icon: 'error',
            confirmButtonColor: '#3EBC2A',
            confirmButtonText: 'ตกลง',
          })
        }

      });
    }


    function openPDF(resData, fileName) {
      var ieEDGE = navigator.userAgent.match(/Edge/g);
      var ie = navigator.userAgent.match(/.NET/g); // IE 11+
      var oldIE = navigator.userAgent.match(/MSIE/g);
      var bytes = new Uint8Array(resData); //use this if data is raw bytes else directly pass resData
      var blob = new window.Blob([bytes], { type: 'application/pdf' });

      if (ie || oldIE || ieEDGE) {
        window.navigator.msSaveBlob(blob, fileName);
      }
      else {
        var fileURL = URL.createObjectURL(blob);
        var win = window.open();
        win.document.write('<iframe src="' + fileURL + '" frameborder="0" style="border:0; top:0px; left:0px; bottom:0px; right:0px; width:100%; height:100%;" allowfullscreen></iframe>')

      }
    }
    //preload pdf name on prepopulate document form
    function preload_pdf(ref_num, ref_year) {
      event.preventDefault();
      fileName = "";
      var url = "/preview_pdf"
      var formData = new FormData();
      formData.append('ref_num', ref_num)
      formData.append('ref_year', ref_year)
      $.ajax({
        type: 'POST',
        url: url,
        data: formData,
        contentType: false,
        processData: false,
        async: false,
        success: function (response) {
          fileName = response.doc_name;
          console.log("filename :", fileName);

        }
      });
      return fileName;
    }


  </script>
  <script src="/static/js/sweetalert.js"></script>
</body>

</html>