{% extends "project/base.html" %}
{% block content %}

<!-- Moment.js -->
<script
  src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js">new webpack.ContextReplacementPlugin(/moment[\/\\]locale$/, /en|th/)</script>

<!-- Pikaday JS -->
<script src="https://cdn.jsdelivr.net/npm/pikaday/pikaday.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/pikaday/plugins/pikaday.jquery.min.js"></script>

<!-- Pikaday CSS -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/pikaday/css/pikaday.min.css">
<!-- CSS -->
<link rel="stylesheet" href="/static/css/index.css">
<link rel="stylesheet" href="/static/css/form.css">
<!-- Paliday CSS -->
<link rel="stylesheet" href="/static/css/palitday.css">

<div class="container">
  <div class="row" style="padding-top: 20px;">
    {% if user.role == true %}
    <div class="create-form">
      <button class="btn-act btn-primary btn-create" onClick="open_form()" data-toggle="modal" data-target=".modal">
        <i class="bi bi-plus-circle-fill"></i>
        สร้างคำสั่ง
      </button>
      <!-- Modal zone -->
      <div class="modal fade" id="modal-form" data-keyboard="false">
        <div class="modal-dialog modal-full">
          <div class="modal-content">


            <!-- Modal body -->
            <div class="modal-body">
              <button type="button" id="closeModal" class="close" data-dismiss="modal">&times;</button>
              <!-- Add your content here -->
              <form id="myForm" action="/form" method="post" autocomplete="off" enctype="multipart/form-data">


                <p class="pop-up-header">เอกสารคำสั่ง</p>

                <!-----------------------------------1st part----------------------------------->
                <div class="tab" id="tab-1">
                  <div class="tab-container">
                    <p class="attachment">1 ) ส่วนหัวข้อของเอกสาร</p>

                    <div class="form-group">
                      <label for="refer_num">เลขที่คำสั่ง</label>
                      <input disabled type="number" placeholder="เลขที่คำสั่ง" id="refer_num" name="ref_num">
                    </div>

                    <div class="form-group">
                      <label for="thaiDatePicker">เอกสารลงวันที่</label>
                      <!--this input is id of order_table-->
                      <input type="hidden" id="doc_id" name="id" value="">
                      <!--this input is user id set default to 1-->
                      <input type="hidden" id="usr_id" name="user_id" value="{{ user.id }}">
                      <!-- Separate select elements for day, month, and year -->
                      <input type="text" id="thaiDatePicker" placeholder="วันที่" name="thaiDate" required readonly>
                      <i class="bi bi-calendar"></i>
                    </div>



                    <input type="hidden" id="date_combind" name="doc_date" required></input>
                    <div class="form-group-subject">
                      <label for="descrip">เรื่อง</label>
                      <textarea id="descrip" name="subject" required></textarea>
                    </div>
                  </div>

                </div>

                <!-----------------------------------2nd part----------------------------------->
                <div class="tab" id="tab-2">
                  <div class="tab-container">
                    <p class="attachment">2 ) รายชื่อคณะกรรมการ</p>
                    <div class="form-group-2">
                      <div class="form-head">
                        <h3>รายชื่อคณะกรรมการ</h3>
                        <textarea id="name_list" name="ref_name"></textarea>
                      </div>
                    </div>
                  </div>
                </div>

                <!-----------------------------------3rd part----------------------------------->
                <div class="tab" id="tab-3">
                  <div class="tab-container">
                    <p class="attachment">3 ) ไฟล์แนบ</p>
                    <div class="form-group-3">
                      <!-- <div id="drag-and-drop" ondrop="handleDrop(event)" ondragover="allowDrop(event)"> -->
                      <label for="file-input" id="drag-and-drop">
                        <div id="drag-and-drop-content">
                          <img class="pdf-img" src="/static/img/pdf (2).png">
                          <!-- <h1>ลากและวางไฟล์ที่นี่</h1>
                          <p class="or">หรือ</p> -->
                          <!-- <i class="bi bi-archive"></i> -->
                          <p class="click-to-add"><label for="file-input" id="click-to-add">กดเพื่อเลือกไฟล์แนบ</label>
                          </p>

                        </div>
                      </label>
                      <input type="file" id="file-input" name="doc_data" style="display:none;"
                        onchange="handleFileSelect(event)" accept=".pdf">

                      <div id="uploaded-file-container">
                        <h3>ชื่อไฟล์</h3>
                        <div class="file-container">
                          <p id="uploaded-file-name">Your file name here</p>
                          <i class="bi bi-check-circle-fill" style="color: #3EBC2A;"></i>
                          <span id="remove-btn" onclick="removeUploadedFile()"><i class="bi bi-trash-fill"></i> </span>
                        </div>

                      </div>
                    </div>
                  </div>

                  <div class="index-btn-wrapper">
                    <button class="index-btn" type="submit" id="submit-btn" name="submit" disabled>
                      <!-- <i class="fa-regular fa-floppy-disk"></i>บันทึกเอกสารคำสั่ง</button> -->
                      <i class="bi bi-floppy"></i>บันทึกเอกสารคำสั่ง</button>
                  </div>
                </div>
              </form>


            </div>


          </div>
        </div>
      </div>
      <!-- End of Modal zone -->

    </div>

    <!-- <div class="search-form">
      <button class="btn-act btn-primary d-sm-table " type="button">
        <i class="bi bi-book"></i>
        เอกสารคำสั่ง
      </button>

      <a href="{{ url_for('search') }}" style="text-decoration: none;">
        <button class="btn-act btn-primary d-sm-table " type="button">
          <i class="bi bi-search"></i>
          ค้นหาเอกสาร
        </button>
      </a>
    </div> -->
    {% endif %}
    {% if user.role == false %}
    <div class="blank-space">

    </div>
    {% endif %}
  </div>
</div>

<div class="table-container">
  <div class="container">
    <div class="col-md-12" style="margin-top: 30px;">
      <div class="doc-head">
        <img class="book-img" src="/static/img/open-book.png">
        รายการเอกสารคำสั่งภายในภาควิชาวิทยาการคอมพิวเตอร์
      </div>
      <div class="sub-doc-header">

        <p class="sub-doc-mobile">
          มีเอกสารทั้งหมด <span id="count_doc-s"> </span> รายการ
        </p>

        <p class="sub-doc">
          มีเอกสารทั้งหมด <span id="count_doc"> </span>
          รายการ แสดงหน้าละ
          <span id="show-per-page">10</span> รายการ
        </p>



        <div class="doc-search">
          <i class="bi bi-search"></i>
          <input type="text" id="customSearch" placeholder="ค้นหารายการเอกสารคำสั่ง">
          <!-- <i class="bi bi-plus"></i> -->
        </div>

      </div>
    </div>
    <div class="row">
      <div class="col-md-12" style="margin-bottom: 30px;">
        <div>
          <div class="table-responsive">
            <table class="table table-striped" data-search="true" data-searchable="true"
              data-search-selector="#customSearch" id="document-table">
              <thead>
                <tr>
                  <th class="text-center" data-formatter="runningFormatter" data-searchable="false">
                    <span class="text">
                      ลำดับ
                    </span>
                  </th>
                  <th class="text-center" style="width: 100px;" data-field="ref_num">
                    <span class="text">
                      เลขคําสั่ง
                    </span>
                  </th>
                  <th class="text" data-field="subject">
                    <span class="text">
                      เรื่อง
                    </span>
                  </th>
                  <th class="text-center" data-field="user_name">
                    <span class="text">
                      ผู้สร้างเอกสาร
                    </span>
                  </th>
                  <th class="text-center" data-field="doc_date">
                    <span class="text">
                      วันที่ออกคำสั่ง
                    </span>
                  </th>
                  <th data-field="ori_date" hidden data-searchable="false">
                  </th>
                  <th class="text-center" data-field="operation" data-formatter="clip_icon_Formatter"
                    data-events="clip_icon_Events" data-searchable="false">
                    <span class="text">
                      ไฟล์แนบ
                    </span>
                  </th>
                  {% if user.role == true %}
                  <!--dataFormat-->
                  <th class="text-center" data-field="data-buttons" data-formatter="edit_del_Formatter"
                    data-events="edit_del_Events" data-searchable="false">
                    <span class="text">
                      แก้ไข / ลบ
                    </span>
                  </th>
                  {% endif %}
                  <th class="text-center" data-field="ref_name" hidden>
                    <span class="text">
                      รายชื่อกรรมการ
                    </span>
                  </th>
                  <th class="exclude" data-field="id" hidden>
                    <span class="text" data-searchable="false">
                      id
                    </span>
                  </th>
                </tr>
              </thead>
            </table>
          </div>
          <div class="text-center">
            <div class="spinner-border text-primary"
              style="width: 3rem; height: 3rem;  border:solid 5px #fff;  border-bottom-color: #022851;" id="spinner"
              role="status">
              <span class="sr-only c"></span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="pagination flex-wrap ml-3" id="doc_pagination">
  <a href="#" id="prevPage-mobile"><i class="fas fa-chevron-left"></i></a>
  <a href="#" id="prevPage"><i class="fas fa-chevron-left"></i> ก่อนหน้า</a>
  <div id="pageNumbers" class="pagination-links"></div>
  <a href="#" id="nextPage-mobile"><i class="fas fa-chevron-right"></i></a>
  <a href="#" id="nextPage">หน้าถัดไป <i class="fas fa-chevron-right"></i></a>
</div>

<script src="/static/js/form.js"></script>
<script src="/static/js/sweetalert.js"></script>
<script src="/static/js/palitday.js"></script>
<script src="/static/js/palitday-th.js"></script>

<!-- Do not move script below -->
<script>
  function populate_table(document_data) {
    $('#document-table').bootstrapTable({

      data: document_data,
      serverSide: true,
      deferRender: true

    });
    $('#document-table').bootstrapTable('refreshOptions', {
      filterOptions: {
        'filterAlgorithm': (row, index, filters) => {
          //console.log(row.subject);
          return row.subject != null;
        }
      }
    });
    //console.log(document_data);
    //load pagination.js script after populateTable
    console.log("tr :", document.getElementsByTagName('tr').length);
    var js = document.createElement("script");
    js.src = "/static/js/pagination.js";
    document.head.appendChild(js);
    //document.getElementById("count_doc").innerHTML = $('#document-table tr').length -1;
    $('#document-table').bootstrapTable('hideColumn', 'id');
    $('#document-table').bootstrapTable('hideColumn', 'ref_name');
    $('#document-table').bootstrapTable('hideColumn', 'ori_date');
  }

  //page function use to set offset of document query
  /*function page(){
    show_page = document.getElementsByClassName("current-page")[0].innerHTML;
    console.log(show_page);
    console.log("show_page :", show_page-1);
    var formData = new FormData();
    formData.append('page', show_page-1);
    console.log(formData);
      $.ajax({
        type: 'POST',
        url: "/document",
        data: formData,
        contentType: false,
        processData: false,
        success: function (data) {
          var a = data; // This line shows error.
          $.ajax({
            dataType: "json",
            data: a,
            success:  refresh_table(a)

          });
          window.scrollTo({
            top: 0,
            left: 0,
            behavior: 'smooth',
        });
        }
      });
      
  }*/

  $(document).ready(function () {
    //this call function call to get all data and display it in count-doc id
    $.ajax({
      dataType: "json",
      url: "/document",
      success: function (data) {
        document.getElementById("count_doc").innerHTML = data[0];
        document.getElementById("count_doc-s").innerHTML = data[0];
        populate_table(data);
        document.getElementById('spinner')
          .style.display = 'none';
      }
    });
  });

  //this call offset0 of document
  /*(function () {
    var formData = new FormData();
    formData.append('page', 0)
    $.ajax({
      type: 'POST',
      url: "/document",
      data: formData,
      contentType: false,
      processData: false,
      success: function (data) {
        var a = data; // This line shows error.
        $.ajax({
          dataType: "json",
          data: a,
          success: populate_table(a)
   
        });
  
    }
    });
    
  })();
});*/
  //maybe this function is not use
  function refresh() {
    $.getJSON("/document", refresh_table);

  }

  function refresh_table(document_data) {
    page = document.getElementById("pageNumbers");
    pageNum = page.getElementsByClassName("current-page")[0].innerHTML;
    $('#document-table').bootstrapTable('load', document_data);
    showPage(pageNum);
  }

  function clip_icon_Formatter(value, row, index) {
    return [
      '{% if user.role == true %}',
      '<div class="text-center d-xxl-flex justify-content-xxl-center">',
      '<span class="bs-icon-sm bs-icon-rounded bs-icon-primary d-flex justify-content-center align-items-center me-2 bs-icon">',
      '<button class="pdf_viewer bi bi-paperclip" >', '</button>',
      '</span>',
      '</div>',
      '{% endif %}',
      '{% if user.role == false %}',
      '<div class="text-center d-xxl-flex justify-content-xxl-center">',
      '<span class="bs-icon-sm bs-icon-rounded bs-icon-primary d-flex justify-content-center align-items-center me-2 bs-icon">',
      '<button class="pdf_viewer_user bi bi-paperclip" >', '</button>',
      '</span>',
      '</div>',
      '{% endif %}'
    ].join('')
  }

  //edit and delete button
  function edit_del_Formatter(value, row, index) {
    return [
      '<div class="btn-edit-del">',
      '<button type="button"  class="doc_edit btn-edit"   id="btn-edit" data-toggle="modal" data-target=".modal">', '<img class="edit-img" src="/static/img/edit (2).png">', 'แก้ไข', '</button>',
      '<button class="doc_delete btn-del"  >', '<img class="del-img" src="/static/img/del (1).png">', 'ลบ', '</button>',
      '</div>'

    ].join('')
  }
  //run number function
  function runningFormatter(value, row, index) {
    return index + 1;
  }

  window.clip_icon_Events = {
    'click .pdf_viewer': function (e, value, row, index) {
      refnum = row.ref_num;
      str_ref = refnum.split("/");
      ref_num = str_ref[0]
      ref_year = str_ref[1]
      open_pdf(ref_num, ref_year, row);
    },

    'click .pdf_viewer_user': function (e, value, row, index) {
      refnum = row.ref_num;
      str_ref = refnum.split("/");
      ref_num = str_ref[0]
      ref_year = str_ref[1]
      open_pdf_user(ref_num, ref_year, row);
    }

  }

  window.edit_del_Events = {
    'click .doc_delete': function (e, value, row, index) {
      refnum = row.ref_num;
      str_ref = refnum.split("/");
      ref_num = str_ref[0]
      ref_year = str_ref[1]
      delete_button_sweet(ref_num, ref_year);
    },
    'click .doc_edit': function (e, value, row, index) {
      prePopulateForm(row);

    }
  }
  function get_countNumber() {
    $.ajax({
      dataType: "json",
      url: "/document",
      data: { limit: 1 },
      success: function (data) {
        console.log("data length:", data.length);
        document.getElementById("count_doc").innerHTML = data;
        document.getElementById("count_doc-s").innerHTML = data;
      }
    });
  }
  function prePopulateForm(row) {
    document.getElementById('myForm').reset();
    refnum = row.ref_num;
    str_ref = refnum.split("/");
    ref_num = str_ref[0]
    ref_year = str_ref[1]
    $('#refer_num').val(parseInt(ref_num));
    $('#thaiDatePicker').val(row.ori_date);
    $('#thaiDatePicker').off('blur');
    $('#descrip').val(row.subject);
    str_ref_name = row.ref_name.replace(",", "\n");
    $('#name_list').val(str_ref_name);
    uploadedFileName = preload_pdf(ref_num, ref_year);
    if (uploadedFileName != "") {
      var uploadedFileContainer = document.getElementById('uploaded-file-container');
      var dragAndDropZone = document.getElementById('drag-and-drop');
      document.getElementById('uploaded-file-name').textContent = uploadedFileName;
      uploadedFileContainer.style.display = 'block';
      dragAndDropZone.style.display = 'none';
    }
    // Trigger the checkTextarea function after populating the textarea.
    checkTextarea();
  }


  function delete_doc(ref_num, ref_year) {
    event.preventDefault();
    var url = "/delete"
    var formData = new FormData();
    formData.append('ref_num', ref_num)
    formData.append('ref_year', ref_year)
    $.ajax({
      type: 'POST',
      url: url,
      data: formData,
      contentType: false,
      processData: false,
      success: function (response) {
        //console.log('Success', response);
        console.log("deleted!!");
        refresh();
        var count_doc = document.getElementById("count_doc").innerHTML;
        get_countNumber();
        //document.getElementById("count_doc-s").innerHTML ;

      },
      error: function (error) {
        console.error('Error', error);
      }
    });
  }

  function open_form() {
    console.log("Form openned");
    var defaultDate = new Date();
    thaiDatePicker.setDate(defaultDate);
    ori_date = document.getElementById("thaiDatePicker").value
    $('#thaiDatePicker').on('blur', function () {
      auto_refnum(this.value);
    });
    auto_refnum(ori_date);
  }

  function auto_refnum(ori_date) {
    console.log("ori_date", ori_date);
    str_date = ori_date.split("/");
    var formData = new FormData();
    formData.append('ref_year', str_date[2]);
    $.ajax({
      type: 'POST',
      data: formData,
      url: "/document",
      contentType: false,
      processData: false,
      success: function (data) {
        data_ref = data.ref_num
        arr_ref = data_ref.split("/");
        console.log("data :", parseInt(arr_ref[0]));
        ref_num = parseInt(arr_ref[0]);

        document.getElementById("refer_num").value = ref_num + 1;
      }
    });
  }

  $('#document-table').on('search.bs.table', function (e, text) {
    showPage(1);
    row = $('#document-table').bootstrapTable('getOptions').totalRows
    document.getElementById("count_doc").innerHTML = row;
    document.getElementById("count_doc-s").innerHTML = row;
  });

  //Disable body scrollbar
  $('.modal').on('shown.bs.modal', function (e) {
    $("body").addClass("modal-open"); //.modal-open is in base.css
  });

  //Enable / Disable submit btn by checking textarea
  $(document).on('keyup', '#descrip', checkTextarea);

</script>


{% endblock %}