{% extends "project/base.html" %}
{% block content %}
<link rel="stylesheet" href="/static/css/m-access.css">
<link rel="stylesheet" href="/static/css/index.css">

<!-- <link rel="stylesheet" href="/static/css/grant.css"> -->

<div class="container">
    <div class="row" style="padding-top: 20px;">
        <div class="col-md-6">
            <a href="{{ url_for('home') }}">
                <button class="btn-act-m btn-primary btn-create">
                    <i class="bi bi-book"></i>
                    เอกสารคำสั่ง
                </button>
            </a>
        </div>
        <div class="add-personel">
            <button class="btn-act-m btn-primary btn-add-person " onClick="open_form()" data-toggle="modal" data-target=".modal">
                <i class="bi bi-person-fill-add"></i>

                เพิ่มบุคลาการ
            </button>

            <!-- Modal zone -->
            <div class="modal fade" id="modal-user-form" data-keyboard="false">
                <div class="modal-dialog modal-full">
                    <div class="modal-content">
                        <!-- Modal body -->
                        <div class="modal-body">
                            <button type="button" id="closeModal" class="close" data-dismiss="modal">&times;</button>
                            <!-- Add your content here -->
                            <form class="grant-container" id="user_form" action="/user_form">
                                <p class="grant-header">
                                    <!-- <i class="bi bi-plus-circle-fill"></i> -->
                                    จัดการสิทธิ์การเข้าถึง
                                </p>
                                <input type="text"  id="user_id" name="id" value="">
                                <!--  <divclass="grant-group">
                                    <label>ชื่อจริง</label>
                                    <div class="input-container">-->
                                <input type="hidden" id="input-fname" placeholder="ชื่อจริง" value="">
                                <!--  </div>
                                </div>-->

                                <!--<div class="grant-group">
                                    <label>นามสกุล</label>
                                    <div class="input-container">-->
                                <input type="hidden" id="input-lname" placeholder="นามสกุล" value="">
                                <!-- </div>
                                </div>-->
                                <div class="grant-group">
                                    
                                    <label id="email-label">E-mail</label>
                                    <div class="input-container" id="email-block">
                                        <input id="input-email" name="add-user-email" placeholder="E-mail address" required>
                                        <span class="input-group-addon">@cmu.ac.th</span>
                                    </div>
                                </div>
                                <div class="grant-group-level">
                                    <label>ระดับสิทธิ์การเข้าถึง</label>
                                    <input type="radio" id="admin" name="answer-a" value="True" disabled required>
                                    <label class="radio" id="label-a" for="admin">ธุรการ</label>

                                    <input type="radio" id="user" name="answer-a" value="False" disabled required >
                                    <label class="radio" id="label-u" for="user">บุคลากร</label>
                                </div>
                                <div class="grant-btn-wrapper">
                                    <button class="grant-btn" type="submit" id="add-user-submit" name="add-user-submit" disabled>
                                        <i class="fa-regular fa-floppy-disk"></i>บันทึกสิทธิ์</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End of Modal zone -->
    </div>
</div>

<!-- <div>
    <p class="access-header">จัดการและดูสิทธิ์การเข้าถึง</p>
</div> -->

<div class="access-container">
    <div class="container">
        <div class="col-md-12" style="margin-top: 30px;">

        </div>

        <div class="doc-head"> 
            <img class="book-img" src="/static/img/multiple-users.png">
            ผู้มีสิทธิ์การเข้าถึง
          </div>
      

        <div class="sub-doc-header">

            <p class="sub-doc-mobile">
                ผู้มีสิทธิ์การเข้าถึงทั้งหมด<span id="user-count-s"> </span>คน
            </p>

            <p class="sub-doc">ผู้มีสิทธิ์การเข้าถึงทั้งหมด<span id="user-count"></span>คน แสดงหน้าละ <span
                    id="show-per-page">10</span> รายการ</p>



            <div class="doc-search">
                <i class="bi bi-search"></i>
                <input type="text" id="customSearch" placeholder="ค้นหารายชื่อผู้มีสิทธิ์การเข้าถึง">
                <!-- <i class="bi bi-plus"></i> -->
            </div>

        </div>


        <div class="row">
            <div class="col-md-12" style="margin-bottom: 30px;">
                <div>
                    <div class="table-responsive">
                        <table class="table table-striped" id="access-table" data-filter-control="true"
                            data-search="true" data-searchable="true" data-search-selector="#customSearch">
                            <thead>
                                <tr>
                                    <th class="text-center" data-formatter="runningFormatter" data-searchable="false">
                                        <span class="text">
                                            ลำดับ
                                        </span>
                                    </th>



                                    <th class="text-center" data-field="name">
                                        <span class="text">
                                            ชื่อจริง - นามสกุล
                                        </span>
                                    </th>

                                    <th class="text-center" data-field="email">
                                        <span class="text">
                                            E-mail
                                        </span>
                                    </th>

                                    <th class="text-center" data-field="str_role">
                                        <span class="text">
                                            ระดับสิทธิ์การเข้าถึง
                                        </span>
                                    </th>

                                    <th class="text-center" data-field="data-buttons"
                                        data-formatter="edit_del_Formatter" data-events="operateEvents" data-searchable="false">
                                        <span class="text">
                                            แก้ไขสิทธิ์การเข้าถึง
                                        </span>
                                    </th>

                                    <th data-field="id" data-searchable="false" hidden > 
                                        <span class="text">
                                            id
                                        </span>
                                    </th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="pagination flex-wrap ml-3" id="doc_pagination">
    <a href="#" id="prevPage-mobile"><i class="fas fa-chevron-left"></i></a>
    <a href="#" id="prevPage"><i class="fas fa-chevron-left"></i> ก่อนหน้า</a>
    <div id="pageNumbers" class="pagination-links"></div>
    <a href="#" id="nextPage-mobile"><i class="fas fa-chevron-right"></i></a>
    <a href="#" id="nextPage">หน้าถัดไป <i class="fas fa-chevron-right"></i></a>
</div>

<script>
    function populate_table(user_data) {
    // Assuming your email is stored in a variable called user_email
    const user_email = "{{ user_email }}";

    // Find the index of your email in the user_data array
    const userIndex = user_data.findIndex((user) => user.email === user_email);

    // If your email is found, remove it from its current position
    if (userIndex !== -1) {
        const user = user_data.splice(userIndex, 1)[0];
        // Insert your email data at the beginning of the array
        user_data.unshift(user);
    }
    $('#access-table').bootstrapTable({

        data: user_data,
        sortName: 'str_role', // Set the initial sorting column
        sortOrder: 'asc',    // Set the initial sorting order (ascending)
        columns: [
            {

            },
            {

            },
            {
                // field: 'email',
                // title: 'E-mail',
                // sorter: customEmailSorter // Use custom sorting function for "Email" column
            },
            {
                field: 'str_role',
                title: 'ระดับสิทธิ์การเข้าถึง',
                sorter: customRoleSorter // Custom sort function
            },
            {

            },

        ]

    });


    $('#access-table').bootstrapTable('hideColumn', 'id');
    //console.log("tr :", document.getElementsByTagName('tr').length);
    var js = document.createElement("script");
    js.src = "/static/js/pagination.js";
    document.head.appendChild(js);
}



// Custom sort function for the "role" column
function customRoleSorter(a, b) {
    // Define the order in which roles should be sorted
    const roleOrder = { 'ธุรการ': 0, 'บุคลากร': 1 };

    const roleA = a;
    const roleB = b;

    // Compare roles based on the defined order
    return roleOrder[roleA] - roleOrder[roleB];
}

// function customEmailSorter(a, b) {
//     const userEmail = "{{ user_email }}";


//     if (a === userEmail && b === userEmail) {
//         return 0;
//     } else if (a === userEmail) {
//         return -1;
//     } else if (b === userEmail) {
//         return 1;
//     } else {
//         return a.localeCompare(b);
//     }
// }

$(document).ready(function () {
    $.ajax({
        dataType: "json",
        url: "/user",
        success: function (data) {
            document.getElementById("user-count").innerHTML = data[0];
            document.getElementById("user-count-s").innerHTML = data[0];
            populate_table(data.slice(1));
        }
    });
});
//run number function
function runningFormatter(value, row, index) {
    return index + 1;
}

function get_countNumber() {
    $.ajax({
        dataType: "json",
        url: "/user",
        data: { limit: 1 },
        success: function (data) {
            console.log("data length:", data.length);
            document.getElementById("user-count").innerHTML = data[0];
            document.getElementById("user-count-s").innerHTML = data[0];
        }
    });
}

function prePopulateForm(row) {
    document.getElementById('user_id').hidden = true
    document.getElementById("user_form").reset();
    document.getElementById("email-label").style.display = "none";
    document.getElementById("email-block").style.display = "none";
    $('#user_id').val(row.id);
    email = row.email.split("@");
    $('#input-email').val(email[0]);
    if (row.str_role == "ธุรการ") {
        document.getElementById("admin").checked = true;
    }
    else {
        document.getElementById("user").checked = true;
    }
    $('#access-table').bootstrapTable('refresh');
    $('#user-table').bootstrapTable('resetView');
    checkEmailInput();
}

function refresh() {
    $.getJSON("/user", refresh_table);
}

function refresh_table(document_data) {
    document_data = document_data.slice(1)
    page = document.getElementById("pageNumbers");
    pageNum = page.getElementsByClassName("current-page")[0].innerHTML;
    populate_table(document_data);
    $('#access-table').bootstrapTable('load', document_data);
    console.log(document_data);
    //populate_table(document_data);
    showPage(pageNum);
}

function delete_user(id) {
    event.preventDefault();
    del = id
    var url = "/user_delete"
    var formData = new FormData();
    formData.append('id', del)
    $.ajax({
        type: 'POST',
        url: url,
        data: formData,
        contentType: false,
        processData: false,
        success: function (response) {
            //console.log('Success', response);
            console.log("deleted!!");
            refresh();
            get_countNumber();
        },
        error: function (error) {
            console.error('Error', error);
        }
    });
}


function open_form() {
    console.log("Form openned");
    document.getElementById('user_id').hidden = true;
    document.getElementById("user_form").reset();
    document.getElementById("email-label").style.display = "flex";
    document.getElementById("email-block").style.display = "flex";
    checkEmailInput();

}
$("#user_form").submit(function (event) {
    // prevent default html form submission action
    event.preventDefault();
    // Show loading screen
    show_loading();
    // Create a new FormData object
    var formData = new FormData();
    var ele = document.getElementsByName('answer-a');
    for (i = 0; i < ele.length; i++) {
        if (ele[i].checked)
            var role = ele[i].value;
    }
    console.log(role);
    formData.append('id', $('#user_id').val());
    console.log("id :", $('#user_id').val())
    formData.append('role', role);
    formData.append('email', $('#input-email').val() + "@cmu.ac.th");
    console.log(formData);
    var $form = $(this);
    var url = $form.attr("action");
    $.ajax({
        type: 'POST',
        url: url,
        data: formData,
        contentType: false,
        processData: false,
        success: function (response) {
            add_access();
            refresh();
            get_countNumber();
            document.getElementById("user_form").reset();
            $('#modal-user-form').modal('toggle');

        },
        error: function (error) {
            add_access_err();
            console.error('Error', error);
        }
    });

});

//edit and delete button
function edit_del_Formatter(value, row, index) {
    if (row.email != "{{ user_email }}") {
        return [
            '<div class="btn-edit-del" >',
            '<button type="button"  class="user_edit btn-edit"   id="btn-edit" data-toggle="modal" data-target=".modal">', '<img class="edit-img" src="/static/img/edit (2).png">', 'แก้ไข', '</button>',
            '<button class="user_delete btn-del"  >', '<img class="del-img" src="/static/img/del (1).png">', 'ลบ', '</button>',
            '</div>'
        ].join('')
    }
    else {
        return ''
    }
}

//This part must be edit with user db
//    window.operateEvents = {
//       'click .doc_delete': function (e, value, row, index) {
//            console.log("docdelete");
//            delete_button_sweet(row.id);
//            delete_user(row.id)
//        },
//        'click .doc_edit': function (e, value, row, index) {
//console.log("edit");
//            prePopulateForm(row);
//
//        }
//    }

//This part must be edit with user db
window.operateEvents = {
    'click .user_delete': function (e, value, row, index) {
        console.log("usrdelete");
        user_delete_sweet(row.id);
    },
    'click .user_edit': function (e, value, row, index) {
        console.log("edit");
        prePopulateForm(row);
    }
}

$('#access-table').on('search.bs.table', function (e, text) {
    showPage(1);
    row = $('#access-table').bootstrapTable('getOptions').totalRows
    document.getElementById("user-count").innerHTML = row;
    document.getElementById("user-count-s").innerHTML = row;
});

//Enable / Disable submit btn by checking email
function checkEmailInput() {
    const fill_email = $("#input-email").val().trim();
    const addBtn = $('#add-user-submit');
    const radio_admin = $('#admin');
    const label_admin = $('#label-a');
    const radio_user = $('#user');
    const label_user = $('#label-u');

    if (fill_email === '') {
        addBtn.prop('disabled', true);
        radio_admin.prop('disabled', true);
        radio_user.prop('disabled', true);
        addBtn.css('background', '#CCCCCC'); // Change background to gray
        label_admin.css('color', '#CCCCCC');
        label_user.css('color', '#CCCCCC');
        addBtn.css('cursor', 'not-allowed');
    } else {
        addBtn.prop('disabled', false);
        radio_admin.prop('disabled', false);
        radio_user.prop('disabled', false);
        label_admin.css('color', '#000000');
        label_user.css('color', '#000000');
        addBtn.css('background', '#3EBC2A'); // Change background to green
        addBtn.css('cursor', 'pointer');
    }
}
//Enable / Disable submit btn by checking email
$(document).on('keyup', '#input-email', checkEmailInput);
</script>

{% endblock %}